.detail-header {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.detail-header div h5 {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 8px;
}

.detail-header .button-group {
    display: flex;
    gap: 20px;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) { 
    .detail-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}