@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-color: #162719;
    --secondary-color: #F2E8CF;
}

body {
    /* background-color: #F8F7F9; */
    background-color: #F8F7F9;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: var(--main-color) !important;
}

.nav-link.active {
    color: var(--secondary-color) !important;
}

.navigation {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.custom-toggler {
    background-color: var(--secondary-color);
    border-color: var(--main-color);
}

footer {
    background-color: #091540;
    padding: 30px;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navigation{
        margin-top: 0px;
    }
}